<div class="jc-center">
    <div *ngIf="!preview" class="pos-abs">
        <div class="buttons-container">
            <button class="box-btn" (click)="loadResume()">Load</button>
            <button class="box-btn" (click)="preview = !preview">Preview</button>
            <button class="box-btn" (click)="downloadPDF()">Download PDF</button>
        </div>
        <textarea rows="1" [style.height.px]="750" [style.width.px]="750" [value]="formattedJson"
            (input)="onChange($event)">
        </textarea>


    </div>

    <div #resumeContainer *ngFor="let profile of resumeDetails" class="resume-container">
        <div class="resume-header">
            <div class="resume-header-left">
                <div *ngIf="profile.name" class="profile-name">{{profile.name}}</div>
                <div *ngIf="profile.title" class="profile-title">{{profile.title}}</div>
            </div>
            <div class="resume-header-right light-detail">
                <span *ngIf="profile.mobile">{{profile.mobile}}</span>
                <span *ngIf="profile.email">{{profile.email}}</span>
                <span *ngIf="profile.linkedIn">
                    <a target="_blank" [href]="profile.linkedIn">{{profile.linkedInlabel}}</a>
                </span>
                <span *ngIf="profile.location">{{profile.location}}</span>
            </div>
        </div>
        <div *ngIf="profile.summary" class="resume-section">
            <div class="section-title">{{profile.summary.title}}</div>
            <div class="section-content">{{profile.summary.description}}</div>
        </div>
        <div *ngIf="profile.skills" class="resume-section">
            <div class="section-title">{{profile.skills.title}}</div>
            <div class="section-content">
                <div *ngIf="profile.skills.language" class="section-skills">
                    <span *ngFor="let skill of profile.skills.language">{{skill}}</span>
                </div>
                <div *ngIf="profile.skills.tools" class="mt-5 section-skills">
                    <span *ngFor="let skill of profile.skills.tools">{{skill}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="profile.workExperience" class="resume-section">
            <div class="section-title">{{profile.workExperience.title}}</div>
            <div *ngFor="let exp of profile.workExperience.experience" class="section-content section-experience">
                <div class="exp-header">
                    <div class="row no-gutters d-flex jc-between">
                        <div class="bold">{{exp.role}} |
                            <span class="row no-gutters light-detail">{{exp.company}}</span>
                        </div>
                        <div class="light-detail">{{exp.duration}}</div>
                    </div>
                </div>
                <ul>
                    <li *ngFor="let desc of exp.description" class="row no-gutters description">
                        <span>{{desc}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="profile.education" class="resume-section">
            <div class="section-title">{{profile.education.title}}</div>
            <div *ngFor="let list of profile.education.content" class="section-content row no-gutters d-flex">
                <div class="col-5">{{list.institute}}</div>
                <div class="col-5 light-detail">{{list.degree}}</div>
                <div class="col-2 light-detail text-right ">{{list.duration}}</div>
            </div>
        </div>
        <div *ngIf="profile.education" class="resume-section">
            <div class="section-title">{{profile.awards.title}}</div>
            <div *ngFor="let list of profile.awards.content" class="section-content row no-gutters d-flex pb-5">
                <div class="col-5">
                    <span class="pr-10 icon-color">✔</span>
                    <span>{{list.title}}</span>
                </div>
                <div class="col-5 light-detail">{{list.company}}</div>
                <div class="col-2 light-detail text-right">{{list.year}}</div>
            </div>
        </div>
    </div>
</div>